{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Tentan kami</h5>
    <div class="card-body">
        <p class="card-text"> Aplikasi ini adalah apikasi web blog yang diciptakan untuk belajar membuat blog. Mau tau lebih lanjut? Silakan klik "Ketahui lebih lanjut"</p>
        <a href="#"
           class="btn btn-dark">Ketahui lebih lanjut</a>
    </div>
</div>
</div>

{% endblock sidebar %}